{% extends 'base.html' %}


{% block title %}

{% endblock %}


{% block body %}


    <h1>settings</h1>

{#    <form action="#" method="post">#}
{#        change passsword <br>#}
{#        <label for="user">Username:</label>#}
{#        <input type="email" name="username" id="user" required placeholder="name@domain.extension">#}
{#        <br>#}
{#        <label for="password">Old password:</label>#}
{#        <input type="password" name="password" id="password" required>#}
{#        <br>#}
{#        <label for="password">New password:</label>#}
{#        <input type="password" name="password" id="password" required>#}
{#        <br>#}
{#        <label for="password">New password:</label>#}
{#        <input type="password" name="password" id="password" required>#}
{#        <br>#}
{#        <input type="submit" value="login">#}
{#    </form>#}



{% endblock %}